section {
    width: 50vw;
    margin-left: 32px;

    p {
        margin-top: unset;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .persisting-state {
        animation: fadeOut 2s forwards;
    }
}