<section>
    <p>{{currentSection.title}}</p>
    @if (currentFormGroup) {
    <form [formGroup]="currentFormGroup" (ngSubmit)="onSubmit()">
        @for (field of currentSection.fields; track $index) {
            <app-field-input [field]="field" [formGroup]="currentFormGroup"></app-field-input>
        }
        <footer style="position: fixed; left: 50%; bottom: 0;">
            @if (sectionIndex) {<app-action-button [variant]="'secondary'" label="Previous" (click)="goToPage(sectionIndex - 1)"></app-action-button>}
            @if (isLastIndex) {
                <app-action-button  [disabled]="!currentFormGroup.valid" label="Submit" [type]="'submit'"></app-action-button>
            } @else {
                <app-action-button [disabled]="!currentFormGroup.valid" label="Next" (click)="goToPage(sectionIndex + 1)"></app-action-button>
            }
        </footer>
    </form>
    }
</section>