@import '../../variables';

.select-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 10% 20%;
    padding: 5%;
    background-color: $pure-white-color;

    .buttons-row {
        display: flex;
        gap: 8px;

        ::ng-deep .selected {
            .icon-button {
                border-color: $brand-main-color;
                color: $brand-main-color;

                .icon-img {
                    background-color: $brand-main-color;
                    color: $brand-main-color;
                    border-color: $brand-main-color;
                }
            }
        }
    }

    ::ng-deep {
        .action-button {
            padding-right: 80%;
            width: 147px;
        }
    }
}
