.select-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .buttons-row {
        display: flex;
        gap: 8px;
    }
}
