<section class="summary-wrapper">
    <h1>Awesome!</h1>
    <h3>It works!</h3>

    <div class="content">
        <h2>Summary</h2>

        @for (item of answers$ | async; track $index) {
            <span class="row">
                <p>{{item.title}}</p>
                @if (item.answer) {
                    <p>{{item.answer}}</p>
                } @else {
                    <p class="unanswered">not answered</p>
                }
            </span>
        }
    </div>

    <app-action-button (click)="resetFlow()" label="Complete the flow and Reset"></app-action-button>
</section>
