$brand-main-color: #1DB496;
$brand-white-color: #F2FDFB;
$pure-white-color: #FFFFFF;
$brand-dark-color: #26292D;
$brand-dark-color-2: #42454C;
$brand-gray-color: #E5E5E5;
$brand-light-gray-color: #F6F6F7;
$brand-gray-color-2: #5A606D;
$brand-gray-color-3: #8B92A0;
$brand-gray-color-4: #CCCCCC;
$brand-main-light-color: #1388700D;
$brand-main-font-color: #1AA287;

@mixin getIcon($iconName) {
    -webkit-mask: url("/assets/icons/#{$iconName}.svg") no-repeat center;
    mask: url('/assets/icons/#{$iconName}.svg') no-repeat center;
}

@mixin fadeOutKeyframe {
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}