/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url("/assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
}

body {
  font-family: 'Gilroy-Semibold', sans-serif;
  margin: 0;
}
