@import '../../../../variables';

.action-button {
    border-radius: 4.5px;
    background-color: $brand-main-color;
    color: $brand-white-color;
    padding: 8px 16px;
    gap: 8px;
    height: 40px;
    width: auto;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;

    &.secondary {
        background-color: $brand-light-gray-color;
        color: $brand-dark-color;
        border: 1px solid $brand-dark-color;
        margin-right: 12px;
    }


    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
