@import '../../../../variables';

.action-button {
    border-radius: 4.5px;
    background-color: $brand-main-color;
    color: $brand-white-color;
    padding: 8px 16px;
    gap: 8px;
    font-size: 14px;
    height: 40px;
    width: auto;
    border: none;
    cursor: pointer;

    &.secondary {
        background-color: $brand-white-color;
        color: $brand-dark-color;
        border: 1px solid $brand-dark-color;

    }
}
