@import '../../../../variables';

.action-button {
    border-radius: 4.5px;
    background-color: $brand-main-color;
    color: $brand-white-color;
    padding: 8px 16px;
    gap: 8px;
    font-size: 14px;
    height: 40px;
    width: auto;
    border: none;
    cursor: pointer;

    &.secondary {
        background-color: $brand-white-color;
        color: $brand-dark-color;
        border: 1px solid $brand-dark-color;
    }

    &.navItem {
        color: $brand-dark-color;
        text-align: left;
        border-right: 1px solid $brand-gray-color;
        background-color: $brand-light-gray-color;
        width: 250px;
        height: 40;
        opacity: 1;
        padding: 8px;
        width: 250px;
        opacity: 1;
        gap: 4px;
        border-radius: 4px;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
